.banner {
  background-color: orange;
  border-radius: 20px;
}
.caption {
  font: "2vw";
}
.content {
  font-size: 18px;
}

.articleDetail {
  text-align: left;
}

.articleDetail h3 {
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 40px;
  font-family: "Charter-bold";
}

/* Insight css */
.insightDataMain-div {
  display: flex;
  width: 98%;
  margin: auto;
}

.insightItemDiv {
  /* flex: 1; */
  text-decoration: none;
}

.insightItemDiv img {
  width: 98%;
  border-radius: 1rem;
}

.insightItemDiv div {
  margin: 1rem;
  display: flex;
  list-style: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.applinks {
  width: 230px;
  display: flex;
}

.Footer-madeWithLove {
  font: 100 13px/2 "Segoe UI", sans-serif;
  width: 118px;
  margin: 0 auto;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footerLink {
  font-size: 12px;
  text-decoration: none;
  color: white !important;
}

.page-footer {
  width: 98%;
  margin: auto;
  padding: 1rem;
}

.appLinknew {
  width: 100px;
  margin-bottom: "1em";
}

.newMainContainer {
  display: flex;
  justify-content: space-between;
}

.newMainMiddle {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.bottomBorder {
  width: 6%;
  max-width: 50px;
  height: max-content;
  border-bottom: 4px solid #f96332;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 0;
}

.bottomContent {
  font-size: 1.6em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 98%;
  margin: auto;
}

.HomePageFooter-meriKahani {
  font: 4em Alata, sans-serif;
  position: relative;
  margin-bottom: 0;
}

.HomePageFooter-karmayogiFestival {
  width: 100%;
  max-width: 33em;
  margin-bottom: 0.5em;
}

.HomePageFooter-celebrating {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  /* width: 300px; */
  margin: 0.8rem auto;
  color: white;
  align-items: center;
  justify-content: center;
}

.HomePageFooter-category {
  margin-left: 0.3em;
  /* transform: translateY(80%); */
  white-space: nowrap;
}

.HomePageFooter-titleBox {
  font-size: 1.2em;
  font-weight: bold;
  border: 5px solid #b6b3b4;
  padding: 0.5em;
  color: rgb(247 217 57);
  filter: drop-shadow(black 0.05em 0.1em 0.05em);
}

.HomePageFooter-madeWithLove {
  font: 100 13px/2 "Segoe UI", sans-serif;
  width: 118px;
  margin: 0 auto 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.HomePageFooter-banaoApniPehchan {
  font-size: 2.4em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

/* Header */
.mainCenterGreetText {
  font: bold 1.6rem / normal "hp-simplified", sans-serif;
  color: transparent;
  background-image: linear-gradient(#ff8800 44%, #ffc300, #ff8800 77%);
  -webkit-background-clip: text;
  background-clip: text;
  margin: auto;
}

.newGreetingsHeader {
  font-size: 20px;
  padding: 0.375em;
  position: fixed;
  z-index: 8;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: all 0.3s ease-in-out 0s;
  background-color: transparent;
}

/* GreetingsHeaderCSS */

.navbarMainGreet {
  width: 72%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headerLogosGreet {
  flex: 1;
  display: flex;
  align-items: center;
}

.greetShreButtonMain {
  background-image: url(https://cdn.workmob.com/stories_workmob/images/promotional/button-bg.png);
  background-position: center;
  color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  white-space: nowrap;
  padding: 0.25rem 0.75rem;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  /* text-transform: capitalize; */
}

.locationIconG {
  font-size: 1.15em;
  color: #d1d1d1;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-image: url(https://cdn.workmob.com/stories_workmob/images/promotional/button-bg.png);
  background-size: 99% 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchIconG {
  cursor: pointer;
  fill: #d1d1d1;
  color: #d1d1d1;
  width: 1.6em;
  height: 1.6em;
  padding: 0.4em;
  border-radius: 50%;
  margin-left: 0.5em;
  background-image: url(https://cdn.workmob.com/stories_workmob/images/promotional/button-bg.png);
  background-size: 99% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CategoryIconG {
  cursor: pointer;
  fill: #d1d1d1;
  color: #d1d1d1;
  width: 1.6em;
  height: 1.6em;
  padding: 0.4em;
  border-radius: 50%;
  margin-left: 0.5em;
  background-image: url(https://cdn.workmob.com/stories_workmob/images/promotional/button-bg.png);
  background-size: 99% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filteredDataItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.filteredDataItem .categories-locationLink:last-child {
  margin-right: 1rem !important;
}

@media (max-width: 767px) {
  .navbarMainGreet {
    width: 95%;
    align-items: center;
  }

  .locationIconG {
    width: 28px;
    padding: 1px;
    height: 28px;
  }

  .CategoryIconG {
    width: 28px;
    padding: 7px;
    height: 28px;
  }

  .SearchIconG {
    width: 27px;
    padding: 7px;
    height: 27px;
  }
  .greetShreButtonMain {
    font-size: 12px;
  }

  .mainCenterGreetText {
    font-size: 1.2rem;
  }

  .newGreetingsHeader {
    background: black !important;
  }

  .HomePageFooter-banaoApniPehchan {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 0.5em;
  }

  .HomePageFooter-celebrating {
    display: flex;
    justify-content: center;
  }
  .HomePageFooter-celebrating {
    font-size: 1em;
  }

  .HomePageFooter-meriKahani {
    font: 3em Alata, sans-serif;
  }

  .HomePageFooter-karmayogiFestival {
    width: 100%;
    max-width: 25em;
  }

  .HomePageFooter-titleBox {
    font-size: 0.8em;
  }

  .page-footer {
    padding: 0rem;
  }
  .insightDataMain-div {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .insightItemDiv {
    margin: auto auto 1rem;
  }
  .insightItemDiv div {
    text-align: start;
    font-size: 1rem;
  }
}

/* Greetings Page Css */

.VideoList-greetingsTitle {
  margin-bottom: 0.2em;
}

.VideoList-tagline {
  color: #ffcd36;
  font: bold 1.6rem "Alata", sans-serif;
  margin: 0 auto 0.85em;
}

.VideoList-fixedBottom {
  font: 0.73rem "Alata", sans-serif;
  color: white;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0%);
  transition: transform ease-out 300ms;
}

.VideoList-fixedBottomHidden {
  transform: translateY(100%);
}

.VideoList-bottomText {
  display: flex;
  flex-direction: column;
}

.VideoList-bottomText > :nth-child(1) {
  margin-bottom: 0.25em;
}

.VideoList-contactUs {
  font: 400 0.8rem "Alata", sans-serif;
  color: white;
  text-decoration: none;
  background: center/100% 100%
    url("https://cdn.workmob.com/stories_workmob/images/promotional/button-bg.png");
  border-radius: 50px;
  padding: 0.4em 1.25em;
  margin-left: 1em;
  align-self: center;
  white-space: nowrap;
}

.small-fixed-section {
  bottom: 10px;
}

.container-animate-footer {
  transform: translateY(100%);
}

.icon-icon-search-new:before {
  content: "\e814";
}

.categories-topRow {
  display: flex;
  width: 98%;
  margin: 0em auto 1rem;
}

.categories-topRow > * {
  flex: 1;
}

.categories-topRow.categories-categoryTopRow > :nth-child(3)::after {
  top: 88%;
  margin-top: 0;
}

.categories-locationLink {
  border-radius: 1.1vw;
  position: relative;
  margin-right: 1rem;
}

.categories-locationLink:last-child {
  margin-right: 0rem !important;
}

.categories-locationLink::before {
  content: "";
  padding-top: 74.39%;
  display: block;
}

.categories-locationLink-new::before {
  padding-top: 100%;
}

.Categories-videoContainer {
  background: #1c1c1c;
  position: relative;
}

.Categories-videoContainer .video-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.heading-categories {
  position: absolute;
  top: 0;
  width: 50%;
  left: 25%;
}

.greetVidSection {
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.greetVidSection::before {
  content: "";
  padding-top: 56.25%;
  display: block;
}

.videoLandscapeThumb {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.playIconContainer {
  position: absolute;
  cursor: pointer;
  left: 1em;
  bottom: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.playIcon {
  font-size: 1.3em;
  border: 0;
  color: white;
}

.insightItemDiv {
  /* flex: 1; */
  width: 49%;
  text-decoration: none;
}

.insightItemDiv img {
  width: 98%;
  border-radius: 1rem;
}

.insightItemDiv div {
  margin: 1rem;
  display: flex;
  list-style: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.applinks {
  width: 230px;
  display: flex;
}

.Footer-madeWithLove {
  font: 100 13px/2 "Segoe UI", sans-serif;
  width: 118px;
  margin: 0 auto;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footerLink {
  font-size: 12px;
  text-decoration: none;
  color: white !important;
}

.page-footer {
  width: 98%;
  margin: auto;
  padding: 1rem;
}

.appLinknew {
  width: 100px;
  margin-bottom: "1em";
}

.newMainContainer {
  display: flex;
  justify-content: space-between;
}

.newMainMiddle {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.bottomBorder {
  width: 6%;
  max-width: 50px;
  height: max-content;
  border-bottom: 4px solid #f96332;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 0;
}

.bottomContent {
  font-size: 1.6em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 98%;
  margin: auto;
}

.HomePageFooter-meriKahani {
  font: 4em Alata, sans-serif;
  position: relative;
  margin-bottom: 0;
}

.HomePageFooter-karmayogiFestival {
  width: 100%;
  max-width: 33em;
  margin-bottom: 0.5em;
}

.HomePageFooter-celebrating {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  margin: 0.8rem auto;
  color: white;
  align-items: center;
  justify-content: center;
}

.shareButtonGreet {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (max-width: 767px) {
  .insightItemDiv {
    width: 100%;
  }
  .insightItemDiv div {
    text-align: start;
    font-size: 1rem;
  }
}
